*{
  /* kleur tekst */
  --main-color: #000;
  --secondary-color: #fff;

  /* achtergrond kleuren */
  --footer-header-nav-color: #c2edce;
  --main-bg-color: #f6f6f2;
  --button-hover: #388087;

  /* linkjes */
  --decoratie-uit: none;
  --decoratie-line: underline;

  /* positions */
  --margin-centered: 0 auto;
  --text-center: center;
}

body{
  overflow-x: hidden;
  font-family: 'Gabarito', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  overflow-y: auto;
  min-height: 100vh;
  margin: 0;
}

h1,h2,h3{
  text-align: var(--text-center);
  margin: var(--margin-centered);
  margin-bottom: 1rem;
}

h1{
 font-size: 2.5rem ;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows:4em 6fr 4em;
  grid-template-areas: 
    "h h"
    "m m"
    "f f"; 
}
header{
  grid-area: h;
  background: var(--footer-header-nav-color) ;
}

nav{
  position: fixed;
  top: 1rem;
  left: 0.5rem;
}
main{
  grid-area: m;
  background: var(--main-bg-color);
}
footer{
  grid-area: f;
  background: var(--footer-header-nav-color);
  text-align: var(--text-center);
  margin-top: auto;
}

.menu-item{
  margin: 0 1em 0 0;
  vertical-align: middle;
  text-decoration: var(--decoratie-uit);
  
}
.menu-item:hover{
  text-decoration: var(--decoratie-line);
}


.navmenu{
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: var(--decoratie-uit);
}
a.imglink {
  margin: auto;
}

article{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-bottom: 1.5rem;
  margin-top: 2em;
  transition: 0.3s;
}
article:hover{
  box-shadow: 1em 1em 1em 1em rgba(179, 179, 179, 0.596);
  transition: 0.5s;
}

.articleButton{
  margin: 5em;
  padding: 0.3em 1em 0.3em 1em;
  background: var(--footer-header-nav-color);
  color: var(--main-color);
  transition: 0.2s;
  text-decoration: var(--decoratie-uit);
}
.articleButton:hover{
 color: var(--main-bg-color);
 background: var(--button-hover);
 text-decoration: var(--decoratie-line);
 transition: 0.4s;
}

.images{
  height: 14.5rem;
  margin: 0 auto;
  width: 80vw;
  max-width: 400px;
}

.sideMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.7s;
  padding-top: 1.3em;
  background: var(--footer-header-nav-color);

  & form{
    margin-left: 1rem;

    & p{
      margin: 0.5em 0 0 0;
    }
  }
}

.sideMenu a {
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: var(--decoratie-uit);
  font-size: 0.8em;
  display: block;
  transition: 0.3s;
  
}

.menubtn{
  font-size:1.9em;
  cursor:pointer;
  display:block;
  margin: 3% 5%;
}

.about-us{
  margin: var(--margin-centered);
  max-width: 80vw;
}

form{
  margin: var(--margin-centered);
  width: 45vw;

  & p{
    margin: 5px;
  }
}
.map{
  margin: var(--margin-centered);
  width: 300px;
  height: 450px;
  margin: auto;
}

.card-info{
  width: 100vw;
  position: relative;
  background: rgb(224, 223, 223);
  margin-top: 1rem ;

  & img{
    width: 100vw;
    height: 17rem;
  }
  & .stats{
    display: flex;
  }
  & .bottom-buttons{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

}

@media only screen and (min-width: 510px) {
  .flex-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
  }
  article{
    display: table-cell;
    margin-left: 5px;
    margin-right: 5px;
  }
  .card-info{
    max-width: 50vw;
    margin: var(--margin-centered);
    margin-top: 1rem ;

    & img{
      width: 50vw;
    }
    & .tags-stats{
      width: 50%;
    }
  }
  .sideMenu{
    max-width: 30vw;
  }
  .images{
    max-width: 350px;
  }
  .menu-item{
    margin: 0 2em 0 0;
  }
  .about-us{
    max-width: 60vw;
  }
  form{
    width: 15vw;
  }
  .info{
    display: grid;
    height: 20vh;
    margin-top: 10%;
  }
  .card-info{
    width: 50vw;
  }
}

@media only screen and (min-width: 865px) {
  .sideMenu{
    max-width: 20vw;
  }
}

@media only screen and (min-width: 1120px) {
  .sideMenu{
    max-width: 15vw;
  }
}